body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(207, 218, 255, 0.719);

}
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread items */
    padding: 10px 20px;
    background-color: var(--backgroud-color); /* Navbar background color */
    color: #000000; /* Text color */
  }
  
  div.logo img{
    width: 60px; /* Make the image take the full width of the container */
    height: 60px; /* Make the image take the full height of the container */
    object-fit: contain; /* Scale the image to maintain its aspect ratio */
    border-radius: 100%;
    border: #000000 solid 1px;
}
  
  nav .map-button {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }
  nav .map-button button{
    width: 7em;
    height: 3em;
    border-radius: 30px;
  }
  nav .profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: white;
    text-align: right;
    border: 1px solid black;
  }


.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 310px;
}
.container h1{
  font-weight: 900;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ffae00;
    color: white;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: solid #ffae00 1px;
    transition: all ease .5s;
    margin-bottom: 12px;
    font-weight: 700;
}

button:hover {
    background-color: #f2a500;
    box-shadow:0 0 8px  #f7e3004a;
    border: 1px solid #000000;
}
.infographic
#conversionResult {
  transition: all ease .3s;
    margin: 10px;
    font-size: 18px;
    font-weight: 900;
    color: red;
}

input[disabled] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
div.npr{
    display: flex;
    overflow: hidden;
}
